@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* 
Variables 
*/
:root {
  --clr-header1: #e6e6e6;
  --clr-header2: #dfdfdf;
  --clr-header3: #bebebe;
  --clr-button: #f79131;
  --clr-text: #dfdfdf;
  --clr-link: #3ec8ff;
  --clr-background: #5a5a5a;
}

/* Reset Default Browser Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

/* 
Global Styles 
*/

/* global style for body */
body {
  line-height: 1.2;
  font-size: 1rem;
  background-color: var(--clr-background);
  color: var(--clr-text);
}
/* global style for links */
a {
  text-decoration: none;
}
/* global style for all headers */
h1,
h2,
h3 {
  text-transform: capitalize;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

/* Hero Styling */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/food-hero-mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-head {
  text-align: center;
  margin-top: 50%;
  /* background-color: red; */
}
/* button styling */
.call-to-action {
  background-color: var(--clr-button);
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  margin: 1rem auto;
  border-style: none;
  color: var(--clr-text);
  font-weight: bold;
  border-radius: 3px;
  min-width: 23%;
  text-align: center;
}

.key {
  color: orange;
}

/* More Section Styline */
.more {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/back-more-mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.more-header {
  text-align: center;
  margin-top: 1rem;
}
hr {
  margin: 0.5rem auto;
  max-width: 10%;
  margin-left: auto;
  border-color: orange;
}
.more-text {
  display: flex;
  flex-direction: column;
}
.more-text p {
  text-align: center;
  margin-bottom: 2rem;
}
.more-text ul {
  margin-left: 1.5rem;
  list-style-type: none;
}
.more-text ul li {
  margin-bottom: 1rem;
}
#b2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.more-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-card article {
  max-width: 70%;
  max-height: 30%;
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 1rem 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  /* Hero Desktop */
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/food-hero-desktop.jpeg");
  }
  .hero-head {
    text-align: center;
    margin-top: 15%;
    /* background-color: red; */
  }
  .call-to-action {
    min-width: 5%;
  }
  /* About Desktop */
  .more {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/back-more-desktop.jpeg");
  }
  .more-text-container {
    max-width: 40%;
    margin-right: 0.5rem;
  }
  .more-header {
    text-align: left;
  }
  .more-text p {
    text-align: left;
    max-width: 70%;
  }
  #b2 {
    margin-left: 0;
    margin-right: 0;
    max-width: 30%;
  }
  .more-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 40%;
    max-height: 50%;
    grid-gap: 30px 30px;
    margin-left: 0.5rem;
  }
  .more-card article {
    margin-bottom: 0;
    min-height: 100%;
    min-width: 100%;
  }
  .more-header hr {
    margin-left: 0;
    margin-right: 0;
  }
}
